<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>regUserServlet</servlet-name>
        <servlet-class>controller.regUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updDetailsServlet</servlet-name>
        <servlet-class>controller.updDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regEmailServlet</servlet-name>
        <servlet-class>controller.regEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logInServlet</servlet-name>
        <servlet-class>controller.logInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkUserDetailsExistServlet</servlet-name>
        <servlet-class>controller.checkUserDetailsExistServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>regUserServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updDetailsServlet</servlet-name>
        <url-pattern>/updateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regEmailServlet</servlet-name>
        <url-pattern>/email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logInServlet</servlet-name>
        <url-pattern>/logIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkUserDetailsExistServlet</servlet-name>
        <url-pattern>/checkUserDetailsExistServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>securedapp</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>
